 h1{
 	font-size: 20px;
 	font-family: sans-serif;
 	font-weight: bold;
 }



/* Estilos en una sola línea */
 h2{
 	font: bold 14px sans-serif ;	
 }

header, section, footer, aside, nav, article, hgroup {
	
	display: block;
}

body{
	text-align: center;
}

.agrupar{
	
	width: 960px;
	margin: 15px auto;
	


}

.header{
	background: #FFBB22;
	border: 1px solid #999999;
	padding: 20px;

}

.header h1{
	text-align: left;
}

.menu{
	background: #ccc;
	padding: 5px 15px;
	text-align: left;
}

.menu li{
	list-style: none;
	padding: 5px;
	font: bold 14px verdana;
	display: inline-block;
}

.plano {

	margin: 20px;
	width: 600px;
	float: left;
}

.columna {
	width: 300px;
	
	float: left;
	margin: 20px 0;
}

.columna blockquote {
	border: 1px solid black;
	padding: 60px;
	background: #FFFBB9;
	margin-bottom: 20px;
	

}


 .pie {
 	clear: both;
 	padding: 20px;
 	margin: 20px;
 	background: black;
 	color: white;
 }

article {
	background: red;
	border: 1px  solid #999;
	padding: 20px;
	margin-top: 15px;
	margin-bottom: 20px;
}

time {
	color: #999;
}
article footer{
	text-align: right;
	margin-top: 20px;
}
/*

//Cambiar estilo de etiqueta

header {
	background: green;
}

footer {
	background: blue;
}

//Crear reglas transversales que se incorporan a las etiquetas
.hola {
	background: yellow;
}

//Cambia estilo de etiqueta con un componente especifico
blockquote[cite]{
	background: red;
}

//Segun el id de la etiqueta se cambia el estilo
#cabecera {
	background: black;
	color:red;
}

#navegacion {
	background: black;
	color: white;
} 
*/




             